.Product {
  .card {
    max-width: 30rem;
    box-shadow: 5px 5px 5px rgba(155, 155, 155, 0.5);
    margin: 0px auto 100px auto;
  }

  .card-title {
    margin-top: 20px;
  }

  .description {
    margin-bottom: 0 !important;
  }

  .card-footer,
  .card-text {
    display: flex;
    justify-content: flex-start;
  }
}
